body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}

.open .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
    background: #000;
    z-index: 2;
}

.open .layer:nth-child(2) {
    background: #03a9f4;    
    animation-delay: 1s;
    z-index: 1;
}

@keyframes open {
    0% {
        transform: scaleY(1) ;
    }
    100% {
        transform: scaleY(0) ;
    }
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    display: grid;
    justify-content: center;
    align-items: center;
}

.bannerText {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 700px;
}

.bannerText h2,
.bannerText h3 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform-origin: left;
    text-transform: uppercase;
    transform: scaleX(0);
    animation: revealTextReverse 1s ease-in-out forwards;

}

.bannerText h2 {
    font-size: 4em;
    animation-delay: 2s;
}
.bannerText h3 {
    font-size: 2em;
    animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: revealText 1s ease-in-out forwards;
    animation-delay: 2s;
}
.bannerText h3:before {
    animation-delay: 3s;
}

@keyframes revealText {
    0% {
        transform:scaleX(1)
    }
    100% {
        transform:scaleX(0)
    }
} 

@keyframes revealTextReverse {
    0% {
        transform:scaleX(0)
    }
    100% {
        transform:scaleX(1)
    }
}

.bannerText p {
    opacity: 0;
    font-weight: 400;
    font-size: 1.2em;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bannerText a {
    opacity: 0;
    display: inline-block;
    margin: 20px 0 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 4.5s;
}


@keyframes fadeInBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.box {
    opacity: 0;
    position: absolute;
    right: 10%;
    left: 65%;
    transform:  translateY(-50%);
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 5s;
    mix-blend-mode: darken;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 100;
}

.header .logo {
    /* opacity: 0; */
    margin: 0;
    position: relative;
    padding: 0;
    left: 10%;
    font-size: 2em;
    text-transform: uppercase;
    transform-origin: left;
    animation-delay: 2s;
}


.header ul{
    margin: 0;
    padding: 0;
    display: flex;
}


.header ul li{
    opacity: 0;
    list-style: none;
    margin: 0 10px; 
    animation: fadeInRight 0.5s linear forwards;
}

.header ul li:nth-child(1) {
    animation-delay: 5s;
}

.header ul li:nth-child(2) {
    animation-delay: 5.25s;
}

.header ul li:nth-child(3) {
    animation-delay: 5.5s;
}

.header ul li:nth-child(4) {
    animation-delay: 5.75s;
}

.header ul li:nth-child(5) {
    animation-delay: 6s;
}

.header ul li:nth-child(6) {
    animation-delay: 6.25s;
}

.header ul li:last-child {
    margin-right: 0;
}

.header ul li a{
    opacity: 0;
   display: inline-block;
   margin: 20px 0px 0;
   padding: 10px 10px;
   font-size: 1.2em;
   color: black;
   letter-spacing: 2px;
   text-decoration: none; 
   animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 4.5s;
}

.header ul li a.active,
.header ul li a:hover{
    background: #000;
    color: #FFF;
}

@keyframes fadeInRight  {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX();
        opacity: 1;
    }
}


/* MEDIA QUERY */


@media (max-width: 767px) {
    .open {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 10000;
    }
    
    .open .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: top;
        animation: open 1s ease-in-out forwards;
    }
    
    .open .layer:nth-child(1) {
        background: #000;
        z-index: 2;
    }
    
    .open .layer:nth-child(2) {
        background: #03a9f4;    
        animation-delay: 1s;
        z-index: 1;
    }

    .header .logo {
        /* opacity: 0; */
        margin: 0;
        position: relative;
        padding: 0;
        top: 50px;
        left: 10%;
        font-size: 4em;
        text-transform: uppercase;
        /* transform-origin: left; */
        animation-delay: 2s;
        justify-content: center;
        text-align: center;
    }


    .bannerText {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        max-width: 700px;
    }
    
    .bannerText h2 {
        font-size: 2em;
        animation-delay: 2s;
    }
    .bannerText h3 {
        font-size: 2em;
        animation-delay: 3s;
    }

    .header ul{
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        float: left;
        position: relative;
        top: 200px;
        left: -200px;
    }

    .header ul li{
        opacity: 0;
        list-style: none;
        margin: 0 10px; 
        animation: fadeInRight 0.5s linear forwards;
    }

}

@keyframes open {
    0% {
        transform: scaleY(1) ;
    }
    100% {
        transform: scaleY(0) ;
    }
}




