@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;

}

#container  {
    width: 800px;
    height: 550px;
    background-image:url(pict.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}


body {
    font-family: sans-serif;
    background-color:white ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}


#calculator {
    width: 320px;
    height: 520px;
    background-color: #f1f4f5;
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 9px rgba(0,0,0,.5);
}


#result {
    height: 120px;
}


#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;


}

#keyboard {
    height: 400px;
}


.operator,
.number,
.empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}


.number,
.empty{
    background-color: #e3e8eb;
}

.number,
.operator {
    cursor: pointer;
}

.operator :active, 
.number :active{
    font-size: 13px;
}

.operator :focus,
.number :focus,
.empty :focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #97950a;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #dfdd6c;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #615f0b;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #fffb04;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #e48d1c;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #504f2e;
}




/* 
body {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

img {
    position: relative;   
    margin: 0 auto;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
    width: 800px;
    height: 540px;
    box-sizing: border-box;
    /* align-items: center;
    justify-content: center;
    display: flex; */